# Lists

## ---> Adding elements at the end of list

In [ ]:
l = [2,34,5,56,7,88,89,9,99,]

In [ ]:
l.append(78)   # adds the element at the end of the list

In [ ]:
l

[2, 34, 5, 56, 7, 88, 89, 9, 99, 78]

In [ ]:
l.append(45,68) #doesnt work with multiple elements

TypeError: list.append() takes exactly one argument (2 given)

In [ ]:
l.append([45,68]) # adds a list inside the list instead (and that list also a single element)
l

[2, 34, 5, 56, 7, 88, 89, 9, 99, 78, [45, 68]]

In [ ]:
l.extend([65,623]) # works with multiple elements

In [ ]:
l

[2, 34, 5, 56, 7, 88, 89, 9, 99, 78, [45, 68], 65, 623]

## ---> Adding elements at the specified position

In [ ]:
l.insert(2,37) # pos = 2 , element = 37

In [ ]:
l

## ---> Remove the first item from the list whose value is x

In [ ]:
l.append(9)

In [ ]:
l.remove(9) #removed the first occurance of x = 9

In [ ]:
l

[2, 34, 37, 5, 56, 7, 88, 89, 99, 78, [45, 68], 65, 623, 9]

## ---> Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list.

In [ ]:
l.pop()

9

In [ ]:
l

[2, 34, 37, 5, 56, 7, 88, 89, 99, 78, [45, 68], 65, 623]

In [ ]:
l.pop(10)

[45, 68]

## ---> Remove all items from the list

In [ ]:
l.clear()

In [ ]:
l

[]

## ---> Finding index of an element in its first occurance

In [ ]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [ ]:
idx1 = fruits.index('banana')       # returns 3
idx1

3

In [ ]:
idx2 = fruits.index('banana', 4)    # returns 6 (search starts at index 4)
idx2

6

In [ ]:
fruits.index('banana', 4,6)

ValueError: 'banana' is not in list

## ---> Return the number of times x appears in the list.

In [ ]:
fruits.count('banana')

2

## ---> Sorting the list

In [ ]:
fruits = ['orange', 'apple', 'pear', 'Banana', 'kiwi', 'Apple', 'banana']

In [ ]:
fruits.sort() # capital first and then the lowercases

In [ ]:
fruits

['Apple', 'Banana', 'apple', 'banana', 'kiwi', 'orange', 'pear']

In [ ]:
fruits.sort(key=str.lower)  # becomes case-insensitive i.e, treats lower and upper case as same
fruits

['Apple', 'apple', 'Banana', 'banana', 'kiwi', 'orange', 'pear']

In [ ]:
fruits.sort(reverse=True) # reverse the order
fruits

['pear', 'orange', 'kiwi', 'banana', 'apple', 'Banana', 'Apple']

## ---> copy of list

In [ ]:
a = [1,2,3,4,5]
b = a.copy()  # creates a shallow copy
b.append(99)
print('a :' , a)
print('b : ',b)

a : [1, 2, 3, 4, 5]
b :  [1, 2, 3, 4, 5, 99]

In [ ]:
a = [[1,2],[3,4,5]]
b = a.copy()
b.append(99)
print('a :' , a)
print('b : ',b)

a : [[1, 2], [3, 4, 5]]
b :  [[1, 2], [3, 4, 5], 99]

##--> Using list as stack

In [ ]:
# works on FILO principle (first in last out)
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
print(stack)
print(stack.pop())
stack.pop()

[3, 4, 5, 6, 7]
7

6

## ---> works on FIFO principle (First in first out)

It is also possible to use a list as a queue, where the first element added is the first element retrieved (“first-in, first-out”); however, lists are not efficient for this purpose. While appends and pops from the end of list are fast, doing inserts or pops from the beginning of a list is slow (because all of the other elements have to be shifted by one).

To implement a queue, use collections.deque which was designed to have fast appends and pops from both ends. For example:

In [ ]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()                 # The first to arrive now leaves

queue.popleft()                 # The second to arrive now leaves

queue                           # Remaining queue in order of arrival

deque(['Michael', 'Terry', 'Graham'])

## ---> List Comprehension

In [5]:
list_a = list(map(lambda  x : x**2 , range(10)))

In [6]:
list_a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
list_b = [x**2 for x in range(10)]

In [8]:
list_b

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
list_c = [(x,x**2) for x in range(10)]

In [10]:
list_c

[(0, 0),
 (1, 1),
 (2, 4),
 (3, 9),
 (4, 16),
 (5, 25),
 (6, 36),
 (7, 49),
 (8, 64),
 (9, 81)]

In [12]:
# flattening a list
list_d = [[x,x*10] for x in range(10)]

In [13]:
list_d

[[0, 0],
 [1, 10],
 [2, 20],
 [3, 30],
 [4, 40],
 [5, 50],
 [6, 60],
 [7, 70],
 [8, 80],
 [9, 90]]

In [15]:
flattened_list = [x for l in list_d for x in l]

In [16]:
flattened_list

[0, 0, 1, 10, 2, 20, 3, 30, 4, 40, 5, 50, 6, 60, 7, 70, 8, 80, 9, 90]

In [21]:
no_dupes = list(set(flattened_list))

In [22]:
no_dupes

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 20, 30, 40, 50, 60, 70, 80, 90]

##del statement

In [23]:
a  = [2,4,4,5,66,7,7,8,5,44,3]

In [24]:
del a[5] # removed the element in sixth position or indexed 5

In [25]:
a

[2, 4, 4, 5, 66, 7, 8, 5, 44, 3]

## a fabnacci function

In [73]:
def fab(n):
   result = []
   a, b = 0 , 1
   while a < n :
    result.append(a)
    a , b = b , a+b
   return result

In [75]:
f = fab(100)

In [77]:
f

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [76]:
type(f)

list

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144

In [4]:
# a function returns None as default

def func():
  x = 2


print(func())

None

## Function with default arguments

In [7]:
def credentials(n , pwr=9):
  l = [n**pwr for n in range(n)]
  return l

In [8]:
credentials(5) # list of of 9s

[0, 1, 512, 19683, 262144]

## function with multiple returns

In [17]:
def add_sub(a,b=5):
  return a+b , a-b

In [18]:
add_sub(10)

(15, 5)

## Mutable and unmutable feature

In [19]:
l = [ 4,5,6]
l.append(10)  # list

In [20]:
l

[4, 5, 6, 10]

In [23]:
s = ( 4,5,6)  # sets
s.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [23]:
## eception handling

In [30]:
try:
  x = int(input("Enter a num "))
  print(x)
except ValueError:
  print("Invalid input")

Enter a num kj
Invalid input